@{
    ViewBag.Title = "Home Page";
}

<!--================ Slider Revolution ================-->
<div dir="ltr" class="rev_slider_wrapper fullscreenbanner-container">
    <div id="rev-slider-1" data-version="5.4.5" class="mad-d-none rev-slider fullscreenabanner">
        <ul>
            <!--================ Slide 1 ================-->
            <li data-transition="fade">
                <!-- MAIN IMAGE -->
                <img src="~/Content/Layout/steakbreak/images/1920x1080_slide1.jpg" alt="" data-bgposition="top center" data-bgfit="cover"
                     data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!--================ Layer ================-->
                <div data-start="0" data-x="left" data-y="center" data-hoffset="['12', '-45', '20', '20']"
                     data-voffset="['-80', '-80', '-80', '-150']" data-width="['800', '800', '800', '100%']" data-height="['auto']"
                     data-textAlign="['left']" data-color="['#ffffff']" data-fontsize="['72']" data-lineheight="['96']"
                     class="tp-caption tp-resizeme tp-layer-section-title">
                    Enjoy <br>
                    The true african taste
                </div>
                <!--================ End of Layer ================-->
                <!--================ Layer ================-->
                <div data-start="0" data-x="left" data-y="center" data-hoffset="['12', '-45', '20', '20']"
                     data-voffset="['104', '104', '104', '154']" data-width="['700', '700', '700', '90%']"
                     data-textAlign="['left']" class="tp-caption tp-resizeme">
                    <div class="btn-set">
                        <a href="@Url.Action("Menu","Home")" class="btn btn-huge">Our menu</a><a href="#" class="btn btn-huge">
                            Order
                            Online
                        </a>
                    </div>
                </div>
                <!--================ End of Layer ================-->
            </li>
            <!--================ End of Slide 1 ================-->
            <!--================ Slide 1 ================-->
            <li data-transition="fade">
                <!-- MAIN IMAGE -->
                <img src="~/Content/Images/slider2.jpg" alt="" data-bgposition="top center" data-bgfit="cover"
                     data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!--================ Layer ================-->
                <div data-start="0" data-x="left" data-y="center" data-hoffset="['20', '-45', '20', '20']"
                     data-voffset="['-80', '-80', '-80', '-150']" data-width="['800', '800', '800', '100%']" data-height="['auto']"
                     data-textAlign="['left']" data-color="['#ffffff']" data-fontsize="['72']" data-lineheight="['96']"
                     class="tp-caption tp-resizeme tp-layer-section-title">
                    Enjoy real  <br>
                    Karibu Taste
                </div>
                <!--================ End of Layer ================-->
                <!--================ Layer ================-->
                <div data-start="0" data-x="left" data-y="center" data-hoffset="['20', '-45', '20', '20']"
                     data-voffset="['104', '104', '104', '154']" data-width="['700', '700', '700', '90%']"
                     data-textAlign="['left']" class="tp-caption tp-resizeme">
                    <div class="btn-set">
                        <a href="@Url.Action("Menu","Home")" class="btn btn-huge">Our menu</a><a href="#" class="btn btn-huge">
                            Order
                            Online
                        </a>
                    </div>
                </div>
                <!--================ End of Layer ================-->
            </li>
            <!--================ End of Slide 1 ================-->
            <!--================ Slide 1 ================-->
            <li data-transition="fade">
                <!-- MAIN IMAGE -->
                <img src="~/Content/Images/slider3.jpg" alt="" data-bgposition="top center" data-bgfit="cover"
                     data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                <!--================ Layer ================-->
                <div data-start="0" data-x="left" data-y="center" data-hoffset="['20', '-45', '20', '20']"
                     data-voffset="['-80', '-80', '-80', '-150']" data-width="['800', '800', '800', '100%']" data-height="['auto']"
                     data-textAlign="['left']" data-color="['#ffffff']" data-fontsize="['72']" data-lineheight="['96']"
                     class="tp-caption tp-resizeme tp-layer-section-title">
                    Fresh Juices <br>
                    and dessert
                </div>
                <!--================ End of Layer ================-->
                <!--================ Layer ================-->
                <div data-start="0" data-x="left" data-y="center" data-hoffset="['20', '-45', '20', '20']"
                     data-voffset="['104', '104', '104', '154']" data-width="['700', '700', '700', '90%']"
                     data-textAlign="['left']" class="tp-caption tp-resizeme">
                    <div class="btn-set">
                        <a href="@Url.Action("Menu","Home")" class="btn btn-huge">Book a Table</a><a href="#" class="btn btn-huge">
                            Order
                            Online
                        </a>
                    </div>
                </div>
                <!--================ End of Layer ================-->
            </li>
            <!--================ End of Slide 1 ================-->
        </ul>
        <div class="mad-arrow"><img class="svg" src="~/Content/Layout/steakbreak/steakbreak_svg_icons/short_arrow_left.svg" alt=""></div>
        <div class="slide-status-numbers"></div>
        <div class="rev-socials">
            <ul>
                <li><a href="#" class="mad-link">Facebook</a></li>
                <li><a href="#" class="mad-link">Twitter</a></li>
                <li><a href="#" class="mad-link">Instagram</a></li>
            </ul>
        </div>
    </div>
</div>

<!--================ Accueil================-->
<div class="mad-content no-pd">
    <div class="container wide-style-2">
        <div data-bg-image-src="/Content/Images/bg1.jpg" class="mad-section mad-section--stretched mad-colorizer--scheme-color-5 with-img-overlay">
            <div class="mad-colorizer-bg-color">
                <span class="mad-section-texture">
                    <img src="~/Content/Layout/steakbreak/steakbreak_svg_icons/uneven_bg_3.svg" alt="" class="svg">
                </span>
            </div>
            <div class="row hr-size-2">
                <div class="col-lg-6">
                    <figure class="mad-img-holder">
                        <div class="mad-img"><img src="~/Content/Layout/steakbreak/images/763x848_img1.png" alt=""></div>
                    </figure>
                </div>
                <div class="col-lg-6">
                    <div class="mad-top-offset">
                        <h2>Hello & Welcome!</h2>
                        <p class="mad-text-large mad-text-color-2">
                            <b>
                                New Africa Kitchen delivers real delicious food straight to your door
                            </b>
                        </p>
                        <p class="mad-text-big">
                            At New Africa Kitchen, we bring the rich culinary traditions of Africa to your table — from the smoky spices of West Africa to the savory stews and grilled delights of East and Southern Africa.
                            Our dishes are crafted with passion, using fresh ingredients and time-honored recipes passed down through generations. Whether you’re craving jollof rice, suya, injera, or a hearty egusi soup, every bite tells a story of home, heritage, and heart.

                            Come share in our culture, connect with our community, and experience the warmth of Africa — right here in the U.S.
                        </p>
                        <a href="#" class="mad-read-more">More About Us <img src="~/Content/Layout/steakbreak/steakbreak_svg_icons/fork.svg" alt="" class="svg"></a>
                    </div>
                </div>
            </div>
            <div class="mad-colorizer-bg-color with-section-element">
                <div class="mad-section-element">
                    <!--================ Icon Boxes ================-->
                    <div class="mad-icon-boxes hr-type item-col-3">
                        <div class="mad-col">
                            <!--================ Icon Box ================-->
                            <article class="mad-icon-box">
                                <i class="mad-icon-box-icon"><img class="svg" src="~/Content/Layout/steakbreak/steakbreak_svg_icons/okay.svg" alt=""></i>
                                <div class="mad-icon-box-content">
                                    <h6 class="mad-icon-box-title">Premium Quality</h6>
                                    <p>
                                        Quality ingr.
                                    </p>
                                </div>
                            </article>
                            <!--================ End of Icon Box ================-->
                        </div>
                        <div class="mad-col">
                            <!--================ Icon Box ================-->
                            <article class="mad-icon-box">
                                <i class="mad-icon-box-icon"><img class="svg" src="~/Content/Layout/steakbreak/steakbreak_svg_icons/eco.svg" alt=""></i>
                                <div class="mad-icon-box-content">
                                    <h6 class="mad-icon-box-title">100% ECO Ingredients</h6>
                                    <p>
                                        Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
                                    </p>
                                </div>
                            </article>
                            <!--================ End of Icon Box ================-->
                        </div>
                        <div class="mad-col">
                            <!--================ Icon Box ================-->
                            <article class="mad-icon-box">
                                <i class="mad-icon-box-icon"><img class="svg" src="~/Content/Layout/steakbreak/steakbreak_svg_icons/grill.svg" alt=""></i>
                                <div class="mad-icon-box-content">
                                    <h6 class="mad-icon-box-title">Wood-burned Grill</h6>
                                    <p>
                                        Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue.
                                    </p>
                                </div>
                            </article>
                            <!--================ End of Icon Box ================-->
                        </div>
                    </div>
                    <!--================ End of Icon Boxes ================-->
                </div>
            </div>
        </div>

        <!--================ Diner to dessert================-->
        <div class="mad-section mad-section--stretched-content">
            <div class="mad-colorizer-bg-color">
                <div class="with-svg-item svg-right-side top-space"><img src="~/Content/Layout/steakbreak/images/tomatos.png" alt=""></div>
                <div class="with-svg-item svg-right-side bottom2"><img src="~/Content/Layout/steakbreak/images/mud2.png" alt=""></div>
            </div>
            <div class="mad-menu-cards item-col-2">
                <div class="mad-col">
                    <div class="mad-menu-card">
                        <div class="mad-menu-border"></div>
                        <a href="#" class="mad-card-img with-overlay"><img src="~/Content/Images/food/dinner1.png" alt=""></a>
                        <div class="mad-card-text">
                            <h2>Dinner</h2>
                            <a href="#" class="mad-read-more">View Menu <img src="~/Content/Layout/steakbreak/steakbreak_svg_icons/fork.svg" alt="" class="svg"></a>
                        </div>
                    </div>
                </div>
                <div class="mad-col">
                    <div class="mad-menu-card">
                        <div class="mad-menu-border"></div>
                        <a href="#" class="mad-card-img with-overlay"><img src="~/Content/Images/food/lunch1.png" alt=""></a>
                        <div class="mad-card-text">
                            <h2>Lunch</h2>
                            <a href="#" class="mad-read-more">View Menu <img src="~/Content/Layout/steakbreak/steakbreak_svg_icons/fork.svg" alt="" class="svg"></a>
                        </div>
                    </div>
                </div>
                <div class="mad-col">
                    <div class="mad-menu-card">
                        <div class="mad-menu-border"></div>
                        <a href="#" class="mad-card-img with-overlay"><img src="~/Content/Images/food/juice1.png" alt=""></a>
                        <div class="mad-card-text">
                            <h2>Bar</h2>
                            <a href="#" class="mad-read-more">View Menu <img src="~/Content/Layout/steakbreak/steakbreak_svg_icons/fork.svg" alt="" class="svg"></a>
                        </div>
                    </div>
                </div>
                <div class="mad-col">
                    <div class="mad-menu-card">
                        <div class="mad-menu-border"></div>
                        <a href="#" class="mad-card-img with-overlay"><img src="~/Content/Images/food/dessert1.jpg" alt=""></a>
                        <div class="mad-card-text">
                            <h2>Dessert</h2>
                            <a href="#" class="mad-read-more">View Menu <img src="~/Content/Layout/steakbreak/steakbreak_svg_icons/fork.svg" alt="" class="svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--================ What we offer================-->
        <div data-bg-image-src="/Content/Layout/steakbreak/images/texture_bg2.jpg" class="mad-section mad-section--stretched mad-colorizer--scheme- mad-colorizer--scheme-light">
            <h2 class="mad-title align-center">What We Offer</h2>
            <div class="row">
                <div class="col-lg-3">
                    <!--================ Icon Boxes ================-->
                    <div class="mad-icon-boxes style-2 align-right item-col-1">
                        <div class="mad-col">
                            <!--================ Icon Box ================-->
                            <article class="mad-icon-box">
                                <i class="mad-icon-box-icon"><img class="svg" src="~/Content/Layout/steakbreak/steakbreak_svg_icons/catering.svg" alt=""></i>
                                <div class="mad-icon-box-content">
                                    <h6 class="mad-icon-box-title">Catering</h6>
                                    <p>
                                        Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est.
                                    </p>
                                    <a href="#" class="mad-read-more small-size style-5 no-icon">Learn More</a>
                                </div>
                            </article>
                            <!--================ End of Icon Box ================-->
                        </div>
                        <div class="mad-col">
                            <!--================ Icon Box ================-->
                            <article class="mad-icon-box">
                                <i class="mad-icon-box-icon"><img class="svg" src="~/Content/Layout/steakbreak/steakbreak_svg_icons/package.svg" alt=""></i>
                                <div class="mad-icon-box-content">
                                    <h6 class="mad-icon-box-title">Order Online</h6>
                                    <p>
                                        Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in.
                                    </p>
                                    <a href="#" class="mad-read-more small-size style-5 no-icon">Learn More</a>
                                </div>
                            </article>
                            <!--================ End of Icon Box ================-->
                        </div>
                    </div>
                    <!--================ End of Icon Boxes ================-->
                </div>
                <div class="col-lg-6">
                    <figure class="mad-img-holder">
                        <img src="~/Content/Images/plate2.png" alt="">
                    </figure>
                </div>
                <div class="col-lg-3">
                    <!--================ Icon Boxes ================-->
                    <div class="mad-icon-boxes style-2 item-col-1">
                        <div class="mad-col">
                            <!--================ Icon Box ================-->
                            <article class="mad-icon-box">
                                <i class="mad-icon-box-icon"><img class="svg" src="~/Content/Layout/steakbreak/steakbreak_svg_icons/wine.svg" alt=""></i>
                                <div class="mad-icon-box-content">
                                    <h6 class="mad-icon-box-title">Private Dining</h6>
                                    <p>
                                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
                                    </p>
                                    <a href="#" class="mad-read-more small-size style-5 no-icon">Learn More</a>
                                </div>
                            </article>
                            <!--================ End of Icon Box ================-->
                        </div>
                        <div class="mad-col">
                            <!--================ Icon Box ================-->
                            <article class="mad-icon-box">
                                <i class="mad-icon-box-icon"><img class="svg" src="~/Content/Layout/steakbreak/steakbreak_svg_icons/gift_card.svg" alt=""></i>
                                <div class="mad-icon-box-content">
                                    <h6 class="mad-icon-box-title">Gift Cards</h6>
                                    <p>
                                        Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue.
                                    </p>
                                    <a href="#" class="mad-read-more small-size style-5 no-icon">Learn More</a>
                                </div>
                            </article>
                            <!--================ End of Icon Box ================-->
                        </div>
                    </div>
                    <!--================ End of Icon Boxes ================-->
                </div>
            </div>
        </div>

        
        <div class="mad-section no-pd mad-section--stretched-content">
            <div class="g-map-wrap">
                <div id="googleMap" class="mad-gmap"></div>
            </div>
            <div class="mad-colorizer-bg-color with-map">
                <span class="mad-section-texture top-side-2">
                    <img src="~/Content/Layout/steakbreak/steakbreak_svg_icons/uneven_bg_1.svg" alt="" class="svg">
                </span>
                <div class="mad-section-element bottom-left">
                    <!--================ Icon Boxes ================-->
                    <div class="mad-icon-boxes hr-type item-col-3">
                        <div class="mad-col">
                            <!--================ Icon Box ================-->
                            <article class="mad-icon-box">
                                <i class="mad-icon-box-icon"><img class="svg" src="~/Content/Layout/steakbreak/steakbreak_svg_icons/phone.svg" alt=""></i>
                                <div class="mad-icon-box-content">
                                    <h6 class="mad-icon-box-title">
                                        +1 800 603 6035 <br>
                                        mail@companyname.com
                                    </h6>
                                    <p>
                                        Contact Us
                                    </p>
                                </div>
                            </article>
                            <!--================ End of Icon Box ================-->
                        </div>
                        <div class="mad-col">
                            <!--================ Icon Box ================-->
                            <article class="mad-icon-box">
                                <i class="mad-icon-box-icon"><img class="svg" src="~/Content/Layout/steakbreak/steakbreak_svg_icons/globe.svg" alt=""></i>
                                <div class="mad-icon-box-content">
                                    <h6 class="mad-icon-box-title">
                                        56 12th Ave, <br>
                                        New York, NY 10011
                                    </h6>
                                    <a href="#" class="mad-dir mad-link">Get Direction</a>
                                </div>
                            </article>
                            <!--================ End of Icon Box ================-->
                        </div>
                        <div class="mad-col">
                            <!--================ Icon Box ================-->
                            <article class="mad-icon-box">
                                <i class="mad-icon-box-icon"><img class="svg" src="~/Content/Layout/steakbreak/steakbreak_svg_icons/clock.svg" alt=""></i>
                                <div class="mad-icon-box-content">
                                    <h6 class="mad-icon-box-title">
                                        Monday – Saturday: <br>
                                        Noon – 11:30 PM
                                    </h6>
                                    <p>
                                        Opening Hours
                                    </p>
                                </div>
                            </article>
                            <!--================ End of Icon Box ================-->
                        </div>
                    </div>
                    <!--================ End of Icon Boxes ================-->
                </div>
            </div>
        </div>
        <div data-bg-image-src="/Content/Layout/steakbreak/images/1920x528_redbg1.jpg"
             class="mad-section size-5 with-texture mad-section--stretched mad-colorizer--scheme-color-4 mad-colorizer--scheme-light">
            <div class="mad-colorizer-bg-color">
                <span class="mad-section-texture">
                    <img src="~/Content/Layout/steakbreak/steakbreak_svg_icons/uneven_bg_1.svg"
                         alt="" class="svg">
                </span>
            </div>
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <h2 class="mad-section-title">Make a Reservation</h2>
                </div>
                <div class="col-xl-8">
                    <form class="mad-form style-2">
                        <div class="form-group">
                            <div class="form-col with-icon">
                                <input type="text" placeholder="11/04/2020">
                                <i class="material-icons">calendar_today</i>
                            </div>
                            <div class="form-col with-icon">
                                <input type="text" placeholder="7:00 PM">
                                <i class="material-icons">access_time</i>
                            </div>
                            <div class="form-col with-icon">
                                <input type="text" placeholder="2 persons">
                                <i class="material-icons-outlined">people</i>
                            </div>
                            <div class="form-col no-fw">
                                <button class="btn btn-big btn-style-3">Book a Table</button>
                            </div>
                        </div>
                        <span class="mad-form-tag">Powered by OpenTable</span>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="mad-section no-pd mad-section--stretched-content">
            <div class="mad-instafeed">
                <div class="mad-grid item-col-5 no-gutters">
                    <div class="mad-col">
                        <a href="#"><img src="~/Content/Layout/steakbreak/images/384x384_img1.jpg" alt=""></a>
                    </div>
                    <div class="mad-col">
                        <a href="#"><img src="~/Content/Layout/steakbreak/images/384x384_img2.jpg" alt=""></a>
                    </div>
                    <div class="mad-col">
                        <a href="#"><img src="~/Content/Layout/steakbreak/images/384x384_img3.jpg" alt=""></a>
                    </div>
                    <div class="mad-col">
                        <a href="#"><img src="~/Content/Layout/steakbreak/images/384x384_img4.jpg" alt=""></a>
                    </div>
                    <div class="mad-col">
                        <a href="#"><img src="~/Content/Layout/steakbreak/images/384x384_img5.jpg" alt=""></a>
                    </div>
                    <div class="mad-col">
                        <a href="#"><img src="~/Content/Layout/steakbreak/images/384x384_img6.jpg" alt=""></a>
                    </div>
                    <div class="mad-col">
                        <a href="#"><img src="~/Content/Layout/steakbreak/images/384x384_img7.jpg" alt=""></a>
                    </div>
                    <div class="mad-col">
                        <a href="#"><img src="~/Content/Layout/steakbreak/images/384x384_img8.jpg" alt=""></a>
                    </div>
                    <div class="mad-col">
                        <a href="#"><img src="~/Content/Layout/steakbreak/images/384x384_img9.jpg" alt=""></a>
                    </div>
                    <div class="mad-col">
                        <a href="#"><img src="~/Content/Layout/steakbreak/images/384x384_img10.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>