@using NewAfrica.Models; 
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
    List<SOUSFAMILL> listcategs = ViewBag.listcateg;
}

<div class="mad-content no-pd">
    <div class="container">
        
            @*<div class="mad-colorizer-bg-color">
                <div class="with-svg-item"><img src="~/Content/Images/fleur1.jpg" alt=""></div>
            </div>*@

            <div class="mad-content p-1">
                <div class="container">
                    <!--================ Content Section ================-->
                    <div class="content-element-17">
                            <div class="col-xl">
                                <!--================ Tabs ================-->
                                <div class="mad-tabs">
                                    <!--================ Tabs Navigation ================-->
                                    <div role="tablist" aria-label="Tabs v1" class="mad-tabs-nav">
                                        @foreach (SOUSFAMILL sf in listcategs)
                                        {
                                            <span class="mad-active">
                                                <a id="@sf.idsf" href="#@sf.idsf" role="tab" aria-selected="false" aria-controls="@sf.idsf" class="mad-tab-link">@sf.libsf</a>
                                            </span>
                                        }
                                        @*<span>
                                            <a id="tab-2-link" href="#tab-2" role="tab" aria-selected="true" aria-controls="tab-2"
                                               class="mad-tab-link">Appetizers</a>
                                        </span>*@                                   
                                    </div>

                                    <!--================ CONTENU ================-->
                                    <div class="mad-tabs-container">
                                        <!--================ Tab ================-->
                                        <div id="tab-1" tabindex="0" role="tabpanel" aria-labelledby="tab-1-link" class="mad-tab">

                                                <!--================ Image Boxes ================-->
                                            <div class="mad-entities item-col-4">
                                                <div class="mad-col">
                                                    <!--================ Entity ================-->
                                                    <article class="mad-entity">
                                                        <div class="mad-entity-media">
                                                            <a href="#"><img src="~/Content/Layout/steakbreak/images/328x224_img1.jpg" alt=""></a>
                                                        </div>
                                                        <div class="mad-entity-content">
                                                            <h6 class="mad-entity-title"><a href="#" class="mad-link">Premium Quality</a></h6>
                                                            <p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel.</p>
                                                            <a href="#" class="mad-read-more small-size no-icon">Learn More</a>
                                                        </div>
                                                    </article>
                                                    <!--================ End of Entity ================-->
                                                </div>
                                                <div class="mad-col">
                                                    <!--================ Entity ================-->
                                                    <article class="mad-entity">
                                                        <div class="mad-entity-media">
                                                            <a href="#"><img src="~/Content/Layout/steakbreak/images/328x224_img2.jpg" alt=""></a>
                                                        </div>
                                                        <div class="mad-entity-content">
                                                            <h6 class="mad-entity-title"><a href="#" class="mad-link">100% ECO Ingredients</a></h6>
                                                            <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis integer.</p>
                                                            <a href="#" class="mad-read-more small-size no-icon">Learn More</a>
                                                        </div>
                                                    </article>
                                                    <!--================ End of Entity ================-->
                                                </div>
                                                <div class="mad-col">
                                                    <!--================ Entity ================-->
                                                    <article class="mad-entity">
                                                        <div class="mad-entity-media">
                                                            <a href="#"><img src="~/Content/Layout/steakbreak/images/328x224_img3.jpg" alt=""></a>
                                                        </div>
                                                        <div class="mad-entity-content">
                                                            <h6 class="mad-entity-title"><a href="#" class="mad-link">Wood-burned Grill</a></h6>
                                                            <p>Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</p>
                                                            <a href="#" class="mad-read-more small-size no-icon">Learn More</a>
                                                        </div>
                                                    </article>
                                                    <!--================ End of Entity ================-->
                                                </div>
                                                <div class="mad-col">
                                                    <!--================ Entity ================-->
                                                    <article class="mad-entity">
                                                        <div class="mad-entity-media">
                                                            <a href="#"><img src="~/Content/Layout/steakbreak/images/328x224_img4.jpg" alt=""></a>
                                                        </div>
                                                        <div class="mad-entity-content">
                                                            <h6 class="mad-entity-title"><a href="#" class="mad-link">Creative Menu</a></h6>
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi.</p>
                                                            <a href="#" class="mad-read-more small-size no-icon">Learn More</a>
                                                        </div>
                                                    </article>
                                                    <!--================ End of Entity ================-->
                                                </div>
                                                <div class="mad-col">
                                                    <!--================ Entity ================-->
                                                    <article class="mad-entity">
                                                        <div class="mad-entity-media">
                                                            <a href="#"><img src="~/Content/Layout/steakbreak/images/328x224_img4.jpg" alt=""></a>
                                                        </div>
                                                        <div class="mad-entity-content">
                                                            <h6 class="mad-entity-title"><a href="#" class="mad-link">Creative Menu</a></h6>
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi.</p>
                                                            <a href="#" class="mad-read-more small-size no-icon">Learn More</a>
                                                        </div>
                                                    </article>
                                                    <!--================ End of Entity ================-->
                                                </div>
                                                <div class="mad-col">
                                                    <!--================ Entity ================-->
                                                    <article class="mad-entity">
                                                        <div class="mad-entity-media">
                                                            <a href="#"><img src="~/Content/Layout/steakbreak/images/328x224_img4.jpg" alt=""></a>
                                                        </div>
                                                        <div class="mad-entity-content">
                                                            <h6 class="mad-entity-title"><a href="#" class="mad-link">Creative Menu</a></h6>
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi.</p>
                                                            <a href="#" class="mad-read-more small-size no-icon">Learn More</a>
                                                        </div>
                                                    </article>
                                                    <!--================ End of Entity ================-->
                                                </div>
                                                <div class="mad-col">
                                                    <!--================ Entity ================-->
                                                    <article class="mad-entity">
                                                        <div class="mad-entity-media">
                                                            <a href="#"><img src="~/Content/Layout/steakbreak/images/328x224_img4.jpg" alt=""></a>
                                                        </div>
                                                        <div class="mad-entity-content">
                                                            <h6 class="mad-entity-title"><a href="#" class="mad-link">Creative Menu</a></h6>
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi.</p>
                                                            <a href="#" class="mad-read-more small-size no-icon">Learn More</a>
                                                        </div>
                                                    </article>
                                                    <!--================ End of Entity ================-->
                                                </div>
                                                <div class="mad-col">
                                                    <!--================ Entity ================-->
                                                    <article class="mad-entity">
                                                        <div class="mad-entity-media">
                                                            <a href="#"><img src="~/Content/Layout/steakbreak/images/328x224_img4.jpg" alt=""></a>
                                                        </div>
                                                        <div class="mad-entity-content">
                                                            <h6 class="mad-entity-title"><a href="#" class="mad-link">Creative Menu</a></h6>
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi.</p>
                                                            <a href="#" class="mad-read-more small-size no-icon">Learn More</a>
                                                        </div>
                                                    </article>
                                                    <!--================ End of Entity ================-->
                                                </div>
                                                <div class="mad-col">
                                                    <!--================ Entity ================-->
                                                    <article class="mad-entity">
                                                        <div class="mad-entity-media">
                                                            <a href="#"><img src="~/Content/Layout/steakbreak/images/328x224_img4.jpg" alt=""></a>
                                                        </div>
                                                        <div class="mad-entity-content">
                                                            <h6 class="mad-entity-title"><a href="#" class="mad-link">Creative Menu</a></h6>
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi.</p>
                                                            <a href="#" class="mad-read-more small-size no-icon">Learn More</a>
                                                        </div>
                                                    </article>
                                                    <!--================ End of Entity ================-->
                                                </div>
                                                <div class="mad-col">
                                                    <!--================ Entity ================-->
                                                    <article class="mad-entity">
                                                        <div class="mad-entity-media">
                                                            <a href="#"><img src="~/Content/Layout/steakbreak/images/328x224_img4.jpg" alt=""></a>
                                                        </div>
                                                        <div class="mad-entity-content">
                                                            <h6 class="mad-entity-title"><a href="#" class="mad-link">Creative Menu</a></h6>
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi.</p>
                                                            <a href="#" class="mad-read-more small-size no-icon">Learn More</a>
                                                        </div>
                                                    </article>
                                                    <!--================ End of Entity ================-->
                                                </div>
                                                <div class="mad-col">
                                                    <!--================ Entity ================-->
                                                    <article class="mad-entity">
                                                        <div class="mad-entity-media">
                                                            <a href="#"><img src="~/Content/Layout/steakbreak/images/328x224_img4.jpg" alt=""></a>
                                                        </div>
                                                        <div class="mad-entity-content">
                                                            <h6 class="mad-entity-title"><a href="#" class="mad-link">Creative Menu</a></h6>
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi.</p>
                                                            <a href="#" class="mad-read-more small-size no-icon">Learn More</a>
                                                        </div>
                                                    </article>
                                                    <!--================ End of Entity ================-->
                                                </div>
                                                <div class="mad-col">
                                                    <!--================ Entity ================-->
                                                    <article class="mad-entity">
                                                        <div class="mad-entity-media">
                                                            <a href="#"><img src="~/Content/Layout/steakbreak/images/328x224_img4.jpg" alt=""></a>
                                                        </div>
                                                        <div class="mad-entity-content">
                                                            <h6 class="mad-entity-title"><a href="#" class="mad-link">Creative Menu</a></h6>
                                                            <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi.</p>
                                                            <a href="#" class="mad-read-more small-size no-icon">Learn More</a>
                                                        </div>
                                                    </article>
                                                    <!--================ End of Entity ================-->
                                                </div>
                                            </div>

                                        </div>
                                       
                                        <!--================ Tab ================-->
                                        <div id="tab-2" tabindex="0" role="tabpanel" aria-labelledby="tab-2-link" class="mad-tab">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut
                                                tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.
                                                Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.
                                            </p>
                                        </div>

                                        <!--================ Tab ================-->
                                        <div id="tab-3" tabindex="0" role="tabpanel" aria-labelledby="tab-3-link" class="mad-tab">
                                            <p>
                                                Contenu 3
                                            </p>
                                        </div>
                                        <!--================ End of Tab ================-->
                                    </div>
                                    <!--================ End of Tabs Container ================-->
                                </div>
                            </div>


                    </div>

                </div>
            </div>

        

    </div>
</div>

